process {
        withName:fastqc_1_2 {
                container = "flowcraft/fastqc:0.11.7-1"
        }
        withName:trimmomatic_1_2 {
                container = "flowcraft/trimmomatic:0.36-1"
        }
        withName:filter_poly_1_3 {
                container = "flowcraft/prinseq:0.20.4-1"
        }
        withName:bowtie_1_4 {
                container = "flowcraft/bowtie2_samtools:1.0.0-1"
        }
        withName:bowtie_build_1_4 {
                container = "flowcraft/bowtie2_samtools:1.0.0-1"
        }
        withName:retrieve_mapped_1_5 {
                container = "flowcraft/bowtie2_samtools:1.0.0-1"
        }
        withName:va_spades_1_7 {
                container = "flowcraft/viral_assembly:0.1-1"
        }
        withName:va_megahit_1_7 {
                container = "flowcraft/viral_assembly:0.1-1"
        }
        withName:assembly_mapping_1_8 {
                container = "flowcraft/bowtie2_samtools:1.0.0-1"
        }
        withName:process_assembly_mapping_1_8 {
                container = "flowcraft/bowtie2_samtools:1.0.0-1"
        }
        withName:pilon_1_9 {
                container = "flowcraft/pilon:1.22.0-1"
        }
        withName:pilon_report_1_9 {
                container = "flowcraft/pilon:1.22.0-1"
        }
        withName:dengue_typing_assembly_1_11 {
                container = "ummidock/seq_typing:2.3-dev"
        }
        withName:dengue_typing_reads_1_11 {
                container = "ummidock/seq_typing:2.3-dev"
        }
        withName:mafft_1_12 {
                container = "flowcraft/mafft:7.402-1"
        }
        withName:raxml_1_13 {
                container = "flowcraft/raxml:8.2.11-2"
        }
        withName:report_raxml_1_13 {
                container = "flowcraft/raxml:8.2.11-2"
        }
}