process {

	$fastqc_1_2.container = "flowcraft/fastqc:0.11.7-1"
	$trimmomatic_1_2.container = "flowcraft/trimmomatic:0.36-1"
	$filter_poly_1_3.container = "flowcraft/prinseq:0.20.4-1"
	$bowtie_1_4.container = "flowcraft/bowtie_dengue:2-1"
	$bowtie_build_1_4.container = "flowcraft/bowtie_dengue:2-1"
	$retrieve_mapped_1_5.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$va_spades_1_6.container = "flowcraft/viral_assembly:0.1-1"
	$va_megahit_1_6.container = "flowcraft/viral_assembly:0.1-1"
	$assembly_mapping_1_7.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$process_assembly_mapping_1_7.container = "flowcraft/bowtie2_samtools:1.0.0-1"
	$pilon_1_8.container = "flowcraft/pilon:1.22.0-1"
	$pilon_report_1_8.container = "flowcraft/pilon:1.22.0-1"
	$dengue_typing_1_10.container = "flowcraft/seq_typing:2.0-1"
	$mafft_1_11.container = "flowcraft/mafft:7.402-1"
	$raxml_1_12.container = "flowcraft/raxml:8.2.11-2"
	$report_raxml_1_12.container = "flowcraft/raxml:8.2.11-2"

}