params {


	fastq = 'fastq/*_{1,2}.*'
	genomeSize = 0.01
	minCoverage = 15
	adapters = 'None'
	trimSlidingWindow = '5:20'
	trimLeading = 3
	trimTrailing = 3
	trimMinLength = 55
	clearInput = false
	adapter = 'A 50%; T 50%; N 50%'
	reference = 'ref/1_GenotypesDENV_14-05-18.fasta'
	index = null
	minimumContigSize = 10000
	spadesMinCoverage = 2
	spadesMinKmerCoverage = 2
	spadesKmers = 'auto'
	megahitKmers = 'auto'
	minAssemblyCoverage = 'auto'
	AMaxContigs = 1000
	size = 10000
	get_reference = false
	substitutionModel = 'GTRGAMMA'
	seedNumber = 12345
	bootstrap = 500

}
