params {


	fastq = 'fastq/*_{1,2}.*'
	genomeSize = 0.01
	minCoverage = 10
	adapters = 'None'
	trimSlidingWindow = '5:20'
	trimLeading = 3
	trimTrailing = 3
	trimMinLength = 55
	clearInput = false
	pattern = 'A 50%; T 50%; N 50%'
	reference = 'ref/DENV_MAPPING_V2.fasta'
	index = null
	minimumContigSize = 10000
	spadesMinCoverage = 2
	spadesMinKmerCoverage = 2
	spadesKmers = 'auto'
	megahitKmers = 'auto'
	minAssemblyCoverage = 'auto'
	AMaxContigs = 1000
	splitSize = 10000
	typingReference = 'ref/DENV_TYPING_V2.fasta'
	includeNCBI = true
	getGenome = true
	substitutionModel = 'GTRGAMMA'
	seedNumber = 12345
	bootstrap = 500
	simpleLabel = true

}