params {

	fastq = 'fastq/*_{1,2}.*'

	/*
	Component 'integrity_coverage_1_1'
	---------------------------------
	*/
	genomeSize_1_1 = 1
	minCoverage_1_1 = 0

	/*
	Component 'fastqc_trimmomatic_1_2'
	---------------------------------
	*/
	adapters_1_2 = 'None'
	trimSlidingWindow_1_2 = '5:20'
	trimLeading_1_2 = 3
	trimTrailing_1_2 = 3
	trimMinLength_1_2 = 55

	/*
	Component 'filter_poly_1_3'
	--------------------------
	*/
	adapter_1_3 = 'A 50%; T 50%; N 50%'

	/*
	Component 'remove_host_1_4'
	--------------------------
	*/
	refIndex_1_4 = '/index_hg19/hg19'

	/*
	Component 'bowtie_1_5'
	---------------------
	*/
	reference_1_5 = 'ref/1_GenotypesDENV_14-05-18.fasta'
	index_1_5 = null

	/*
	Component 'viral_assembly_1_7'
	-----------------------------
	*/
	minimumContigSize_1_7 = 10000
	spadesMinCoverage_1_7 = 2
	spadesMinKmerCoverage_1_7 = 2
	spadesKmers_1_7 = 'auto'
	megahitKmers_1_7 = 'auto'

	/*
	Component 'assembly_mapping_1_8'
	-------------------------------
	*/
	minAssemblyCoverage_1_8 = 'auto'
	AMaxContigs_1_8 = 100
	genomeSize_1_8 = 10

	/*
	Component 'split_assembly_1_10'
	------------------------------
	*/
	size_1_10 = 10000

	/*
	Component 'dengue_typing_2_11'
	-----------------------------
	*/
	BD_sequence_file_2_11 = '/dengue_DB/blast_db/GenotypesDENV_14-05-18.problematic_sequences_corrected.fasta.corrected.fasta.iupac_removed.fasta'

	/*
	Component 'raxml_3_13'
	---------------------
	*/
	substitutionModel_3_13 = 'GTRGAMMA'
	seedNumber_3_13 = 12345
	bootstrap_3_13 = 500


}