process {

        withName:fastqc_1_2 {
                cpus = 2
                memory = '4GB'
        }
        withName:trimmomatic_1_2 {
                cpus = 2
                memory = { 4.GB * task.attempt }
        }
        withName:filter_poly_1_3 {
                cpus = 1
                memory = { 4.GB * task.attempt }
        }
        withName:bowtie_1_4 {
                memory = {5.Gb*task.attempt}
                cpus = 4
        }
        withName:bowtie_build_1_4 {
                memory = {5.Gb*task.attempt}
                cpus = 1
        }
        withName:retrieve_mapped_1_5 {
                memory = {5.Gb*task.attempt}
                cpus = 2
        }
        withName:va_spades_1_7 {
                cpus = 4
                memory = { 5.GB * task.attempt }
                scratch = true
        }
        withName:va_megahit_1_7 {
                cpus = 4
                memory = { 5.GB * task.attempt }
                scratch = true
        }
        withName:assembly_mapping_1_8 {
                cpus = 4
                memory = { 5.GB * task.attempt }
        }
        withName:process_assembly_mapping_1_8 {
                cpus = 1
                memory = { 5.GB * task.attempt }
        }
        withName:pilon_1_9 {
                cpus = 4
                memory = { 7.GB * task.attempt }
        }
        withName:pilon_report_1_9 {
                cpus = 1
                memory = { 7.GB * task.attempt }
        }
        withName:split_assembly_1_10 {
                cpus = 1
                memory = { 1.GB * task.attempt }
        }
        withName:dengue_typing_assembly_1_11 {
                cpus = 4
                memory = '1GB'
        }
        withName:dengue_typing_reads_1_11 {
                cpus = 4
                memory = { 5.GB * task.attempt }
        }
        withName:mafft_1_12 {
                cpus = 4
                memory = { 4.GB * task.attempt }
        }
        withName:raxml_1_13 {
                cpus = 4
                memory = { 4.GB * task.attempt }
        }
}