process {

	$fastqc_1_2.cpus = 2
	$fastqc_1_2.memory = '4GB'
	$trimmomatic_1_2.cpus = 2
	$trimmomatic_1_2.memory = { 4.GB * task.attempt }
	$filter_poly_1_3.cpus = 1
	$filter_poly_1_3.memory = { 4.GB * task.attempt }
	$bowtie_1_4.memory = {5.Gb*task.attempt}
	$bowtie_1_4.cpus = 4
	$bowtie_build_1_4.memory = {5.Gb*task.attempt}
	$bowtie_build_1_4.cpus = 1
	$retrieve_mapped_1_5.memory = {5.Gb*task.attempt}
	$retrieve_mapped_1_5.cpus = 2
	$va_spades_1_6.cpus = 4
	$va_spades_1_6.memory = { 5.GB * task.attempt }
	$va_spades_1_6.scratch = true
	$va_megahit_1_6.cpus = 4
	$va_megahit_1_6.memory = { 5.GB * task.attempt }
	$va_megahit_1_6.scratch = true
	$assembly_mapping_1_7.cpus = 4
	$assembly_mapping_1_7.memory = { 5.GB * task.attempt }
	$process_assembly_mapping_1_7.cpus = 1
	$process_assembly_mapping_1_7.memory = { 5.GB * task.attempt }
	$pilon_1_8.cpus = 4
	$pilon_1_8.memory = { 7.GB * task.attempt }
	$pilon_report_1_8.cpus = 1
	$pilon_report_1_8.memory = { 7.GB * task.attempt }
	$split_assembly_1_9.cpus = 1
	$split_assembly_1_9.memory = { 1.GB * task.attempt }
	$dengue_typing_1_10.cpus = 4
	$dengue_typing_1_10.memory = '4GB'
	$mafft_1_11.cpus = 4
	$mafft_1_11.memory = { 4.GB * task.attempt }
	$raxml_1_12.cpus = 4
	$raxml_1_12.memory = { 4.GB * task.attempt }

}